.miami-logo {
  display: block;
  padding-top: 35px;
  margin: auto;
  height: 500px;
}

#main {
  width: fit-content;
  margin: auto;
}

#main h1 {
  text-align: center;
  font-size: 75px;
  font-weight: bold;
  padding-top: 10px;
}

#main h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

#main h4 {
  text-align: center;
}
